.label {
    font-size: 1.2em;
    display: block;
}

.input {
    font-size: 1.5em;
}

.nameinput {
    font-size: 1.5em;
    width: 20em;
    margin-bottom: 1em;
}

.container {
    display: flex;
    justify-content: space-around;
}

.fields {
    flex-grow: 1;
    flex-basis: 50%;
    margin: 1em;
}

.preview {
    flex-basis: 50%;
    flex-grow: 2;
    color: black;
    background-color: white;
    padding-left: 1em;
    font-size: 1.2em;
}

.save {
    margin-top: 1em;
}

.delete {
    margin-left: 8px;
    color: red;
    border-color: red;
}

.codeEditor {
    height: 50em;
}