.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0.5em 2em;
}

.header > .h2 {
    margin: 0;
    font-size: 2em;
}

.workspace {
    flex-grow: 1; 

    display: flex;
}

.workspace > div {
    display: block;
    visibility: visible;
    flex: 1;
    background-color: #181818;
    padding: 1em;
}

#collapse {
    color: black;
    background-color: white;
    font-size: 2.5em;
    font-weight: bold;

    position: relative;
    float: right;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;

    cursor: pointer;
}

#expand {
    cursor: pointer;

    color: black;
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;

    position: relative;
    flex: 0 0;

    padding: 0.1em 0.4em;
}

#expand > p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 0;
}

#expand > p > span {
    text-orientation: upright;
    font-size: 1.7em;
}