.flex-list {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container > div {
    flex-grow: 1;
}

.challenge {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 1em;
    background-color: #181818;
    padding: 1.5em;
    border-radius: 1em;
}

.challenge h3 {
    font-size: 2em;
    margin: 0;
    line-height: 0.7em;
}

.challenge-details {
    flex-grow: 2;
}